body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 16px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #ffffff; /* Web sayfasının arka plan rengi */
    color: #5988ff; /* Metin rengi */
    
}




h1  {
    animation: color-change 3s infinite;
    /*color: #fd98fb; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
    text-align: center;
}

@keyframes color-change {
    0% {
      color: #fd98fb;
    }
  
    50% {
      color: #af03ff;
    }
  
    100% {
      color: #fd98fb;
    }
}

h1 {
    animation: color-change 3s infinite;
}

h1:hover { animation: color-change 3s infinite; }

h2 {
    color:#bfff1f;
    font-size: 20px;
    font-family:Georgia, serif;
    text-align: center;
}

@keyframes color-change2 {
    0% {
      color: #bfff1f;
    }
  
    50% {
      color: #1fffda;
    }
  
    100% {
      color: #bfff1f;
    }
}

h2 {
    animation: color-change2 3s infinite;
}

p {
    text-align: center;
}

ul {
    text-align: justify;
}